language: objective-c
before_install:
    - MODULE_ROOT=$PWD
install: 
    - mkdir -p /Library/Application\ Support/Titanium/
    - wget http://api.appcelerator.net/p/v1/release-download?token=y4qAVWK3 -O /Library/Application\ Support/Titanium/mobilesdk-1.6.0-osx.zip
    - cd /Library/Application\ Support/Titanium/
    - unzip -o  mobilesdk-1.6.0-osx.zip
before_script:
    - cd $MODULE_ROOT
script: 
    - cd ./ios/
    - ./build.py
